/* BASIC STYLES HERE */
.rain {
  background-image: url('../img/rain.gif');
  background-position: center;
  background-size: cover;
}

#image{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#clock {
  font-size: 25px;
  width: 200px;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  background-color: grey;
}

.quoteText{
    color: black;
    text-shadow: 1px 1px white, 0 0 20px gray;
  }

.hide {
  color: transparent;
  transition: all 1s ease-in;
}

.quote:hover + .hide {
  cursor: pointer;
  display: block;
  color: black;
  text-shadow: 1px 1px white, 0 0 20px maroon;
}
